.experience {
    width: 60vw;
    height:fit-content;
    display:grid;
    margin:auto;
    border-radius: $border-radius;
    grid-template-columns: 5vw 60vw;
    background-color: $color-white;
    margin-bottom: 3rem;
    padding:1rem;
    -webkit-box-shadow: 0px 0px 5px 0px #000000; 
    box-shadow: 0px 0px 5px 0px #000000;

    &__image {
        height:4vw;
        width:4vw;
        border-radius:0.5vw;
        vertical-align: top;
        margin: auto;
        display:flex;
        margin-top: 0.5vw;
        
    }

    &__content {
        display:block;
        margin-left:1rem;

        &__header {
            display:inline-block;
            color:$color-secondary;
            font-size: $font-subtitle;
            text-align:left;
        }

        &__date {
            font-size: $font-text;
            color:$color-secondary;
            margin: -1rem 0rem -2rem 0rem;
        }

        &__horizontal {
            width: 40%;
            /* border: 1px #63A9AE; */
            height: 2px;
            border: 0;
            background-color: $color-primary;
        }


        &__description {
            font-size: $font-text;
            color:$color-secondary;
            position: relative;
            line-height: 2.5rem;
            overflow-wrap: break-word;
            word-wrap: break-word;
            width: 90%;

            &__item {
                margin-left: 3.5rem;
                overflow-wrap: break-word;
                word-wrap: break-word;


            }
        }

        ul li::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: $color-primary; /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }
    }

}