.main__footer {
  width: 100%;
  display: block;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: $color-white;
  margin: auto;
  transition: top 0.3s;
  background-color: $color-background;
  height: fit-content;
  padding: 50px 0;
  position: relative;

  &__box {
    cursor: pointer;
    font-size: 18pt;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;
    border-radius:$border-radius;
    color:$color-white;
    
    &__arrow {
      transform: rotate(-90deg);
    }
  }

  &__icons {
    text-align: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
    margin:auto;

    &__icon {
      cursor: pointer;
      font-size: 18pt;
      height: 50px;
      width: 50px;
      margin: 0 15px;
      overflow: hidden;
      position: relative;
      text-align: center;
      align-items: center;
      align-self: center;
      justify-self: center;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-primary;
      border-radius:$border-radius;
    }

    &__logo {
      display: inline-block;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      color: #fff;
      text-align: center;
      cursor: pointer;
    }

    &__link {
      text-decoration: none;
    }

    &__link:hover {
      color: $color-secondary;
      transition: all 0.5s;
      text-decoration: none;
    }

  }

  &__logo:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 1);
    border-radius: 40%;
    transition: all 1s;
  }

  /*@include respond(tab-land) {
    margin: -2rem 0 2rem 0;
    height: 110%;
    width: 0;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;

    &__nav {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    &__link {
      padding: 3rem;
      text-decoration: none;
      font-size: 50rem;
      color: $color-primary;
      display: block;
      transform: translate(3rem, -6rem);

      &:hover,
      &:focus {
        color: $color-secondary;
      }

      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }*/
}
