.icon {
    display: block;
    margin:0 auto;
    width:15vw;

    &__image {
        &__outer {
            height: 15vw;
            width: 15vw;
        }

        &__inner {
            
        }
    }

    &__title {
        margin-top: -1vw;
        font-size: $font-title;
        color:$color-secondary;
    }

    &__subtitle {
        margin-top: -0.5vw;
        font-size: $font-subtitle;
        overflow: visible;
        word-wrap: break-word;
        white-space: initial;
        color:$color-secondary;
        line-height: normal;
    }
}
