.nav {
  width: 100%;
  height: 100px;
  top: 0;
  background-color: $color-background;
  position: fixed;
  display: inline;
  z-index: 9999;
  transition: top 0.3s;
  margin-bottom: 10vh;
  height:initial;
  text-align: left;

  &__logo {
    width: 10%;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Langar', cursive;
    margin: 0 0 0 10rem;
    color: $color-white;

    @include respond(phone) {
      width: 50%;
    }

    @include respond(tab-land) {
      margin: 0 0 0 5rem;
      width: 50%;
    }

    @include respond(tab-port) {
      width: 70%;
    }
  }

  &__horizontal {
    width: 100vw;
    display: flex;
    position: fixed;
    height: 5px;
    border-radius: 10px;
    background-color: $color-primary;
    border-color: $color-primary;
    vertical-align: baseline;
  }
}

.navigation {
  position: fixed;
  top: 0;
  margin: 0 4rem 0 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: right;
  left: 50%;


  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top:1rem;
    text-align: right;
  }

  &__item {
    display: inline;
  }

  &__open {
    display: none;
  }

  &__link {
    margin-right: 2rem;
    padding: 0.5rem;
    font-size: $default-font-size;
    color: $color-white;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }

  &__link:hover {
    color: $color-primary;
    transition: all 0.75s;
    text-decoration: none;
  }


  @include respond(tab-land) {
    margin: -2rem 0 2rem 0;
    height: 110%;
    width: 0;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;

    &__nav {
      position: relative;
      top: 25%;
      width: 100%;
      text-align: center;
      margin-top: 30px;
      display:inline-flex;
    }

    &__link {
      padding: 3rem;
      text-decoration: none;
      font-size: 4rem;
      color: $color-primary;
      display: block;
      transform: translate(3rem, -6rem);

      &:hover,
      &:focus {
        color: #f1f1f1;
      }

      @include respond(phone) {
        font-size: 3rem;
      }
    }
  }
}


