.section {
    width: 45vw;
    height:fit-content;
    margin:0 auto 2rem auto;
    border-radius: $border-radius;
    background-color: $color-background-third;
    padding: 0.5rem;
    margin-bottom: 2rem;
    align-self: start;

    &__content {
        display:block;
        margin-left:1rem;

        &__header {
            display:inline-block;
            color:$color-secondary;
            font-size: $font-title;
            text-align:left;
            font-weight: bold;
            margin-bottom: -0.5vw;
        }

        &__courses {
            margin-left: 2rem;

            &__item {
                font-size: $font-text;
                color:$color-secondary;
            }
        }

    }

}