// COLORS
$color-primary: #63A9AE;
$color-secondary: #46474A;
$color-third: #46474A;

$color-background: #323232;
$color-background-secondary: #F5F5F5;
$color-background-third: #b3b3b3;

$color-white: #fcfcfc;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$font-header: 20rem;
$font-section: 8rem;
$font-subsection: 4rem;
$font-title: 3rem;
$font-subtitle: 2rem;
$font-text: 1.5rem;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;