// COLORS
$color-primary: #63A9AE;
$color-secondary: #fcfcfc;
$color-third:#212c33;

$color-background: #323232;

$color-white: #fcfcfc;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
