.experiences {
    padding-bottom: 2rem;
    background-color: $color-background-secondary;
    padding-top:3vw;


    @include respond(big-desktop) {
        padding-top: 2vw;
    }

    &__header {
        color:$color-secondary;
        font-size:$font-section;
        text-align:center;
        margin: auto auto -1vw auto;
        padding: auto;
        font-family: 'Langar', cursive;
    }

    &__horizontal {
        width: 10vw;
        margin:auto;
        height:10px;
        border-radius: 7px;
        background-color:$color-secondary;
        border-color:$color-secondary;
    }

    &__content {
        margin-top: 2vw;
    }
    

}