.interests {
    height:fit-content;
    padding-bottom: 2rem;
    /*background: url('../../assets/Header-Background6.jpg') no-repeat center center; 
        -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
    background-color: $color-white;
    border:0;
    padding-top:$nav-height;


    @include respond(big-desktop) {
        padding-top:3vw;
    }

    &__header {
        color:$color-secondary;
        font-size:$font-section;
        text-align:center;
        margin: auto auto -1vw auto;
        padding: auto;
        font-family: 'Langar', cursive;
    }

    &__horizontal {
        width: 10vw;
        margin:auto;
        height:10px;
        border-radius: 7px;
        background-color:$color-secondary;
        border-color:$color-secondary;
    }

    &__content {
        margin:auto;
        padding-bottom: 2vw;

        &__icons {
            margin: 2vw auto auto auto;
            display: flex;
            justify-content: center;
            width: 80%;
            text-align: center;

            @include respond(big-desktop) {
            }
        
            @include respond(tab-land) {
              
            }
            @include respond(tab-port) {
            }
            @include respond(phone) {
                display:grid;
                grid-template-columns: auto;
                grid-gap: 5vw;
            }
            @include respond(small-phone) {
            }
        }
    }
}

