.projects {
    height:fit-content;
    display:block;
    align-content: center;

    &__header {
        font-size: large;
        color:$color-secondary;
        font-size:8rem;
        display:flex;
        flex-direction: center;
        padding-left:40.3%;
        text-align:center;
    }

    &__about {
        margin-top:-2rem;
        color:$color-white;
        font-size:4rem;
        text-align:center;
        line-height: normal;
        margin-bottom:3rem;
    }
    
}