.projects {
    height:fit-content;
    display:block;
    align-content: center;
    height:fit-content;
    padding-bottom: 2rem;

    background: url('../../assets/Header-Background10.jpg') no-repeat center center; 
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

    &__header {
        font-size: large;
        color:$color-secondary;
        font-size:8rem;
        display:flex;
        flex-direction: center;
        padding-left:40.3%;
        text-align:center;
    }

    &__about {
        margin-top:-2rem;
        color:$color-white;
        font-size:4rem;
        text-align:center;
        line-height: normal;
        margin-bottom:3rem;
    }
    
}