.divider {
  width: 99vw;
  height: 15vh;
  fill: black;
  background-color: #212121;
  margin:0;
}

#footerOne.divider {
  /*fill: linear-gradient(#e66465, #9198e5);
  background-color: #1f1f1f;*/
  background: linear-gradient(black, #1f1f1f);
}

#footerTwo.divider {
  /*fill: linear-gradient(#e66465, #9198e5);
  background-color: #1f1f1f;*/
  background: linear-gradient(#1f1f1f,black);
}



.line:before{
	content: "";
  position: absolute;
  //position: relative;
	height: 1px;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}