.main {
    display:block;
    &__header {
        background-image:
            url('../../assets/Header-Background.png');
        background-repeat: no-repeat;
        height:100vh;
        width:99vw;
        display:block;

        &__name {
            //position: relative;
            display:flex;
            flex-direction: center;
            align-self: center;
            justify-self: center;
            position:center;
            width:100%;       
            padding-top:10%;     
            padding-left:38%;
            padding:auto;
            color:$color-white;
            font-size:10rem;
            margin:auto;
        }

        &__about {
            color:$color-white;
            font-size:4rem;
            text-align:center;
            line-height: normal;
        }

        &__email {
            width:8vw; 
            height:5vw;
            align-self:center;
            margin-top:2rem;
            margin-left:47%;
        }

        &__email:hover {
            -webkit-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
            -moz-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
            box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
            transition: all 1s;
            border-radius: 5%;
        }
    }

    &__body {

    }
}